[Unit]
Description=Wormhole Transit Relay

[Service]
Type=forked
ExecStart=/opt/magic-wormhole-tr-venv/bin/twistd transitrelay
Restart=on-failure

[Install]
WantedBy=default.target
